<html>
  <head>
   <%- include('partials/header'); -%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://express-uwuv3.glitch.me/snow.js"></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
  </head>
  <body>
    <div class="spinner"></div>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link rel="stylesheet" href="https://express-uwuv3.glitch.me/style.css" />
    <canvas id="canv"></canvas>
    <script src="https://express-uwuv3.glitch.me/bg.js"></script>
    <noscript>Sorry, your browser does not support JavaScript!</noscript>
  </body>
</html>